name: C++ CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2

    # Add a step to install GMP library
    - name: Install GMP library
      run: |
        # 假设有一个预编译的GMP库的地方，你可以从中下载
        # 下面的命令需要你根据实际的下载路径和文件进行调整
        curl -L -o gmp.zip http://example.com/path/to/gmp.zip
        7z x gmp.zip -oC:\gmp
        echo "C:\gmp\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Release -A x64 -DGMP_LIBRARY=C:\gmp\lib\gmp.lib -DGMPXX_LIBRARY=C:\gmp\lib\gmpxx.lib -DGMP_INCLUDE_DIR=C:\gmp\include
      
    - name: Build
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: windows-latest-x64-Release
        path: build/*.exe
